@model UserViewModel
@{
    ViewData["Title"] = Model.Name;
}
<p><h4><strong>@Model.Name</strong></h4></p>
<hr />
<p>Producten:</p>
@foreach (var product in Model.Products)
{
    <p><strong>@product.Name</strong></p>
    <p>€@product.Price</p>
}
<p>&nbsp;</p>
<hr />
<p>Reviews:</p>
<p>reviewshere</p>