@model ReviewViewModel
@{
    ViewData["Title"] = "Add Product";
}

<html>
    <body>
        <h1>Add Review</h1>
        <form asp-action="AddReview">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" min="1" max="5" value="3" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="ProductID" type="hidden" class="control-label"></label>*@
                <input asp-for="ProductID" type="hidden" class="control-label"></>
                <span asp-validation-for="ProductID" type="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="ReviewerID" type="hidden" class="control-label"></label>*@
                <input asp-for="ReviewerID" type="hidden" class="control-label"></>
                <span asp-validation-for="ReviewerID" type="hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddReview" class="btn btn-primary" />
            </div>
        </form>
    </body>
</html>